[Unit]
Description=keys-vault FUSE mount
After=gnome-keyring-daemon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/keys-vault open
ExecStop=/usr/bin/keys-vault close

[Install]
WantedBy=default.target
